/*HOME PAGE CSS*/

html{
   /* cursor:  url('img/arrow.png'), auto;*/
}

body {
    padding: 0px;
    margin: 10px;
    font-family: "Redaction";
    /*font-family: "SF Mono Regular", Icons;*/
    /*color: #dcd3e7;*/
    background: whitesmoke;
    color: black;
    line-height: 1.2;
    /*background-image: "img/gradient.jpg";*/
    /*background: #7A687F;*/
    /*lavender background: #0f0b16, darkpurple #dcd3e7; hotpink:  #ff0099;*/
    border-radius: 50%;
    /*cursor:  url('img/arrow.png'), auto;*/
}

/* Intro To Oluschi */
.description p{
    position: absolute;
    width: 55%;
    padding-top: .75vh;
    /*font-size: 1.35rem;*/
    font-size: 1.65rem;
    text-align: left;
    margin-left: 2vw;
    /*cursor:  url('img/arrow.png'), auto;*/
}


.description a:hover {
    color: #dcd3e7;
    /*cursor:  url('img/arrow.png'), auto;*/
}

.social-icons{
    padding-top: 3.5vh;
    margin-left: 90vw;
    position: absolute;
}

.social-icons img {
    width: 25%;
}

/*.social-icons  img:hover{
    width: 50%;
}*/


a {
    
    text-decoration: none;
    color: inherit;
}

.hover_img{
    display: hidden;
}

.hover_img img:hover {
    display: inline;

}


/* width */
/*::-webkit-scrollbar {
  width: 5px;
}*/

/* Track */
/*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px #ff0099;
  border-radius: 5px;
}*/
 
/* Handle */
/*::-webkit-scrollbar-thumb {
  background: #ff0099; 
  border-radius: 5px;
}
*/
.nav a{
    position: relative;
    /*cursor:  url('img/arrow.png'), auto;*/
    padding-top: 2vw;
    margin-left: 2vw;
    font-size: 1.35rem;
    top: 90vh;
    bottom: 0;
}

.nav a:hover{
    color: #dcd3e7;
    text-decoration: underline;
    /*cursor:  url('img/arrow.png'), auto;*/
}


/* Main Page Content*/

/* Drawing Canvas */
#canvas{
    position: fixed;
    margin-top: -5px;
    left: 0px;
    top: 0;

    /*cursor:  url('img/arrow.png'), auto;*/
    width: 100vw;
    height: 100vh;
    z-index: -2;
}

.emoji {
  position:absolute;
  height: auto;
  /*cursor:  url('img/arrow.png'), auto;*/
}

/*IMAGE TIMER*/
.hidden {
  display: none;
}

#image-container img{
    position: absolute;
    z-index: -5;
}

.img1 img{
    left: 64vw;
    top: 10vh;
   transform: rotate(1deg);

}

.img2 img{
    display: hidden;
    top: 13vh;
    float: right; 
    right: 20vw;
    transform: rotate( 2.75deg);

}

.img3 img {
    left: 1vw;
    top: 40vh;
}

.img4 img{
    left: 30vw;
    top: 30vh;

}

.img5 img{
    left: 10vw;
    top: 45vh;

}

.img6 img{
    left: 1vw;
    top: 30vh;

}

.img7 img{
    left: 50vw;
    top: 60vh;
}

.img8 img{
    left: 61vw;
    top: 22vh;

}

.img9 img{
    left: 50vw;
    top: 60vh;
}

.img10 img{
    left: 25vw;
    top: 40vh;
}

/*.draggable{
   
}

#drag-container1 {
  position: relative;
}

.drag-image1 {
    top: 13vh;
    float: right; 
    right: 20vw;
    transform: rotate( 2.75deg);
 
}*/

/* Bottom Text */
.bottomtext p{
    position: absolute;
    text-align: right;

    font-size: 1.35rem;
    top: 48.5vw;
    left: 76vw;
}

.mobile{
    display: none;
}

  /* For mobile phones: */
@media only screen and (max-width: 600px) {

  .draggable{
    display: none;
  }

  #image-container{
    display: none;
  }

  .mobile img{
    display: all;
    position: absolute;
    margin-top: 5vh;
    margin-left: 35vh;
    z-index: -100;
  }

  .description p{
     padding-left: .5rem;
     font-size: 2rem;
     text-align: left;
  }


  .social-icons {
    padding-top: 6.25vh;
    position: absolute;
    padding-right: 4vw;
    margin-left: 82vw;
}
 
 .social-icons img{
    width: 100%;
    
 }

 .social-icons a{
    right: 35px;
}


 .bottomtext p{
    display: none
 }

 .bottomtext img{
    position: absolute;
    width: 8%;
    top: 16px;
 }

 .nav a{
    top: 155vw;
    align-content: center;
    font-size: 1.30rem;
    letter-spacing: -.01px;

    padding:5px;
    border-radius: 80%;
    border: 1px solid black;
 }



  }

