@font-face {
    font-family: TimesTenLTStd-Italic;
    src: url("../fonts/TimesTenLTStd-Italic.otf") format("otf");
    font-style: oblique;
}

body {
    padding: 0px;
    margin: 10px;
    font-family: untitled-sans-web-regular;
    color: #ff0099;
    font-size: 1.25rem;
    line-height: 1.2;
  cursor:url(../images/glimmer2.png), auto;
}

/* Background Gradient for Monochromatic Colors */
body
{
    background-color: #C7B6DC;
    /* For WebKit (Safari, Chrome, etc) */
    background: #FFFFFF -webkit-gradient(linear, left top, left bottom, from(#C7B6DC), to(#FFFFFF)) no-repeat;
    /* Mozilla,Firefox/Gecko */
    background: #FFFFFF -moz-linear-gradient(top,#C7B6DC , #FFFFFF) no-repeat;
    /* IE 5.5 - 7 */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#6B4C90, endColorstr=#FFFFFF) no-repeat;
    /* IE 8 */
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#6B4C90, endColorstr=#6B4C90)" no-repeat;
}

/* width */
::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px #ff0099;
  border-radius: 8px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #ff0099; 
  border-radius: 8px;
}


.row::after {
  content: "";
  clear: both;
  display: table;
}

[class*="col-"] {
  float: left;
  padding: 10px;
}

.col-1 {width: 20%;}
.col-2 {width: 16.66%;}
.col-3 {width: 35%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.header {
  width:100%;
  font-size: 1rem;
  top:15px;
  text-align: right;
  right:10px;
  position: fixed;
  z-index: 400;
}

.header a{
color:#ff0099;
}

.description {
  margin: 5;
  padding: 0;
  padding-right: 15px;
  color: #ff0099;
  column-count: 1;
  hyphens: auto;
  z-index: 100;
  padding-top: 80px;
}

.description a {
  color:#ff0099;  
}

.header a {
  font-family: TimesTenLTStd-Italic;
  text-decoration: none;
  border-radius: 80%;
  padding:6px;
  border: 1px solid #ff0099;
  letter-spacing: -.01px;
  /*background-color: white;*/
}

a:hover{
  background-color: #ff0099;
  color: white;
}

.italic {
  font-family: untitled-sans-web-regular-italic;
  font-style: oblique;
}

.serifitalic {
  font-family: TimesTenLTStd-Italic;
  font-style: oblique;
}

h1 {
    margin: 0;
    line-height: 1.15;
    font-size: 2.5rem;
    font-weight: normal;
  font-family: TimesTenLTStd-Roman;
  letter-spacing: -1px;
  text-align: center;

}

.pics {
  margin: 5;
  padding: 0;
  padding-top: 40px;
  algin: center;
  padding-left: 50px;
}

.pics img {
  width:100%;
  padding-left: 5px;
  padding-bottom: 2.5px;
  margin: 0px;
}


@media only screen and (max-width: 600px) {
  /* For mobile phones: */
  [class*="col-"] {
    width: 100%;
    algin: left;
  }

  .pics img{
  width:100%; 
  algin: left;
 margin-right: -155px; 
}

body {
  font-size: 1.35rem;
}

h1 {
  line-height: 1.15;
  font-size: 3.2rem;
  margin-top: 20px;
  padding-top: 20px;
}

  .description {
  columns: 1;
  height: auto;
}
p{
  color: #ff0099;

}